.button-background {
    width: 342px;
    height: 60px;
    border: 1px solid #000000;
    background: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-text {
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: auto;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}