<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/screen-header.css') }}">
    </head>

    <body>
        <header class="screen-header">

            <!-- hamburger menu - change the href to the hamburger screen when done -->
            <a href="{{ url_for('/') }} " class="hamburger-menu">
                <div class="hamburger-bar"></div>
                <div class="hamburger-bar"></div>
                <div class="hamburger-bar"></div>
            </a>

            <!-- title of the current screen -->
            <h1 class="screen-title">{{ title }}</h1>
            <div class="hamburger-spacer"></div>
        </header>
    </body>
</html>